.c-embedded-inputs {
  display: grid;
  gap: 0.75rem;
  align-items: center;
  grid-template-columns: 1fr 1fr auto;
}

:is(.c-embedded-inputs__add, .c-embedded-inputs__remove) {
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 2;

  input {
    display: none;
  }
}

.c-embedded-inputs__add {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.35px;
}
