.c-sidebar {
  background-color: #374151;
  color: #FFFFFF;
  padding: 1rem;
  overflow-y: auto;

  & > * {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.is-selected {
      color: #6ee7b7;
    }
  }

  .c-sidebar__heading {
    font-size: 0.75rem;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: -0.025rem;
  }

  :is(.c-sidebar__link, .c-sidebar__button) {
    font-size: 0.875rem;
    line-height: 1.7;
  }

  .c-sidebar__link {
    padding-inline-start: 1rem;

    &.is-selected {
      color: #6ee7b7;
    }

    & + & {
      margin-block-start: 0.5rem;
    }
  }

  .c-sidebar__button {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: .25rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #6ee7b7;
    margin-block-end: 1rem;
    color: #374151;
    font-weight: 500;
    width: 100%;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}
